body{
    .title{
        font-family: "Mrs Saint Delafield", cursive;
        font-weight: 100;
        font-style: normal;
        color: white;
        font-size: 200px;
    }
    box-sizing: border-box;

    position: relative;

/* purp-blue */
    background: linear-gradient(180deg, #22306C 0%, #312148 60%);
    border: 1px solid #000000;


    
}